<form id="entry-form" class="form-inline" {{action "addEntry" on="submit"}}>
    <div class="form-group">
        <label class="sr-only" for="entry-text">Task Title</label>
        {{input autocomplete="off" value=newEntry.text autofocus="autofocus" type="text" class="form-control" id="entry-text"
        placeholder="Task Title"}}
    </div>

    <button type="submit" class="btn btn-default">Add Entry</button>
</form>