.footer {
  background: #ccc;
}

.checklist-item {
  $height: 170px;

  .checklist-item-link {
    height: $height;
    line-height: $height;
    text-overflow: ellipsis;
    background: #eee;
    display: block;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: #ddd;
    }

    .checklist-item-title {
      font-size: 24px;
      color: #777;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      padding: 20px;
      max-height: $height;
      overflow: hidden;
    }
  }

  .checklist-item-footer {

  }
}

.entry-item {
  margin: 10px 0;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 5px;
  position: relative;
  user-select: none;

  .entry-item-checkbox {
    position: absolute;
    top: 4px;
    left: 9px;
    user-select: none;

    .checkbox {
      font-size: 30px;
      cursor: pointer;
      margin: 0;

      &.checked {
        color: rgb(2, 184, 37);
      }

      &.unchecked {
        color: #b0b0b0;
      }
    }

    [type="checkbox"] {
      position: absolute;
      left: -9999px;

      &:not(:checked) + span {
        .checked {
          display: none;
        }
      }

      &:checked + span {
        .unchecked {
          display: none;
        }
      }
    }

    [type="checkbox"]:not(:checked) + .checked {
      display: none;
    }
  }

  .entry-item-input {
    width: 100%;
    padding-left: 32px;

    input {
      width: 100%;
      border: none;
      background: none;

      &:focus {
        outline: 0;
      }
    }
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

  .footer-inner {
    padding: 10px 0;
  }
}
