{{#each groupChecklists as |group|}}
  <div class="row">
  {{#each group as |item|}}
        <div class="col-md-4">
          {{checklist-item checklist=item}}
        </div>
  {{/each}}
  </div>
{{/each}}
