<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{#link-to "index" class="navbar-brand"}}Simple Checklist{{/link-to}}
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{#if isAuthenticated}}
                    <ul class="nav navbar-nav">
                        {{#active-link}}
                            {{link-to "Lists" "checklists"}}
                        {{/active-link}}
                    </ul>
                {{/if}}

                <ul class="nav navbar-nav navbar-right">
                    {{#if isAuthenticated}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Ash Blue <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a {{action 'logout'}}>Logout</a>
                                </li>
                            </ul>
                        </li>
                    {{else}}
                        {{#active-link}}
                            {{#link-to 'auth/login'}}Login{{/link-to}}
                        {{/active-link}}
                    {{/if}}
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {{outlet}}
</div>

<div class="container-fluid footer">
    <footer class="container footer-inner">
        <p>My customer footer</p>
    </footer>
</div>