<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="jumbotron">
            <div class="container">
                <h1>Ember Checklist</h1>

                <p>This is an example checklist written with Ruby on Rails, Ember.js CLI, MongoDB, and Bootstrap. It's
                    built solid authentication security principles via Devise.</p>

                <p>{{#link-to 'auth/register' class="btn btn-primary btn-lg"}}Get Started{{/link-to}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">

</div>